html, body {
    margin: 0;
}
body {
    background-color: #d5dbdb5e;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    display: flex;
    margin: 0 auto;

}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    padding: 10px 20px 0px;
}

a {
    text-decoration: none;
    color: black;

}
ul {
    list-style-type: none;
    padding: 20px;

}
.header {
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}

h1 {
    margin-bottom: 50px;
}
.especialidades {
    display: inline-block;
    text-align: center;
    width: 148.8px;
    height: 20px;
    margin: 5px;
    padding: 15px;
    background-color: #408ff4;
    color: #f1f1f1;
}
h3 {
    font-size: 50px;
    margin-bottom: 10px;
}

.sobre {
    text-align: center;
    color: #0630b9;
}

.descricao {
    font-size: 30px;
    color: #0630b9;
}
h6 {
    color: #0630b9;
    font-size: 20px;
    text-align: center;
}

.atendimento {
    text-align: center;
}
table {
    border: 1px solid rgba(0, 0, 0, 0.281);
}

table tbody tr:nth-child(even) td {
    background-color: #b4ababb7;
}
th {
    padding: 15px 20px 0px 10px;
    font-size: 20px;
    color: white;
    background-color: black;
    
}
td {
    text-align: center;
}
.footer {
    text-align: center;
    background-color: rgba(90,182,197,255);
    min-height: 150px;
}